* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 30px;
  display: flex;
}

.half {
  width: 50%;
  padding: 1rem;
}

.pizza .ketchups, .pizza .olives, .pizza .cheeses, .pizza .sausages, .pizza .qazis, .pizza .pineapples, .pizza .onions, .pizza .tomatoes, .pizza .bread {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  display: none;
}
.pizza .show.ketchups, .pizza .show.olives, .pizza .show.cheeses, .pizza .show.sausages, .pizza .show.qazis, .pizza .show.pineapples, .pizza .show.onions, .pizza .show.tomatoes, .pizza .show.bread {
  display: block;
}

.pizza {
  position: relative;
}
.pizza .bread {
  background: radial-gradient(#ecbe52, #cf9612);
  border-radius: 50%;
  border: 15px solid #bc4f00;
  display: block;
}
.pizza .tomatoes .tomato {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .tomatoes .tomato::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 30%;
  background: tomato;
  border-radius: 100% 10px 10px 100%/50% 10px 10px 50%;
}
.pizza .tomatoes .tomato::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  width: 30%;
  background: tomato;
  border-radius: 10px 100% 100% 10px/10px 50% 50% 10px;
}
.pizza .tomatoes .tomato-1 {
  top: 30%;
  left: 30%;
}
.pizza .tomatoes .tomato-2 {
  top: 70%;
  left: 30%;
}
.pizza .tomatoes .tomato-3 {
  top: 70%;
  left: 70%;
}
.pizza .tomatoes .tomato-4 {
  top: 30%;
  left: 70%;
}
.pizza .onions .onion {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px grey, 0 0 0 10px white, 0 0 0 11px grey, 0 0 0 20px white, 0 0 0 21px grey, 0 0 0 30px white;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .onions .onion-1 {
  top: 15%;
  left: 50%;
}
.pizza .onions .onion-2 {
  top: 85%;
  left: 50%;
}
.pizza .onions .onion-3 {
  top: 50%;
  left: 15%;
}
.pizza .onions .onion-4 {
  top: 50%;
  left: 85%;
}
.pizza .pineapples .pineapple {
  width: 100px;
  height: 100px;
  background: rgb(251, 255, 0);
  border-top-right-radius: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .pineapples .pineapple-1 {
  top: 15%;
  left: 70%;
}
.pizza .pineapples .pineapple-2 {
  top: 80%;
  left: 28%;
  transform: rotate(180deg);
}
.pizza .pineapples .pineapple-3 {
  top: 60%;
  left: 80%;
  transform: rotate(90deg);
}
.pizza .pineapples .pineapple-4 {
  top: 26%;
  left: 8%;
  transform: rotate(240deg);
}
.pizza .qazis .qazi {
  width: 100px;
  height: 100px;
  background: rgba(86, 42, 6, 0.709);
  border-radius: 50% 55% 60% 75%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .qazis .qazi::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 45%;
  height: 40%;
  background: rgba(112, 69, 4, 0.905);
  border-radius: 100% 50px 50px 100%;
}
.pizza .qazis .qazi::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 10px;
  bottom: 20px;
  width: 50%;
  height: 40%;
  background: rgba(112, 69, 4, 0.905);
  border-radius: 90% 50px 50px 100%;
}
.pizza .qazis .qazi-1 {
  top: 30%;
  left: 50%;
}
.pizza .qazis .qazi-2 {
  top: 70%;
  left: 50%;
}
.pizza .qazis .qazi-3 {
  top: 50%;
  left: 70%;
}
.pizza .qazis .qazi-4 {
  top: 50%;
  left: 30%;
}
.pizza .sausages .img1 {
  width: 120px;
  position: absolute;
  top: 16%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.pizza .sausages .img2 {
  width: 120px;
  position: absolute;
  top: 65%;
  left: 14%;
  transform: translate(-50%, -50%);
}
.pizza .sausages .img3 {
  width: 120px;
  position: absolute;
  top: 38%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.pizza .sausages .img4 {
  width: 120px;
  position: absolute;
  top: 81%;
  left: 71%;
  transform: translate(-50%, -50%);
}
.pizza .cheeses .cheese-1 {
  width: 60px;
  position: absolute;
  top: 10%;
  left: 37%;
  transform: translate(-50%, -50%);
}
.pizza .cheeses .cheese-2 {
  width: 60px;
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.pizza .cheeses .cheese-3 {
  width: 60px;
  position: absolute;
  top: 75%;
  left: 17%;
  transform: translate(-50%, -50%);
}
.pizza .cheeses .cheese-4 {
  width: 60px;
  position: absolute;
  top: 89%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.pizza .olives .olive {
  width: 20px;
  height: 500px;
  background: rgb(242, 218, 162);
  border-radius: 30%;
  box-shadow: 0 0 10px rgb(255, 166, 0);
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .olives .olive-1 {
  top: 50%;
  left: 73%;
}
.pizza .olives .olive-2 {
  top: 50%;
  left: 50%;
}
.pizza .olives .olive-3 {
  top: 50%;
  left: 25%;
}
.pizza .ketchups .ketchup {
  width: 550px;
  height: 15px;
  background: rgb(245, 9, 9);
  border-radius: 30%;
  box-shadow: 0 0 10px rgb(255, 166, 0);
  position: absolute;
  transform: translate(-50%, -50%);
}
.pizza .ketchups .ketchup-1 {
  top: 25%;
  left: 50%;
}
.pizza .ketchups .ketchup-2 {
  top: 50%;
  left: 50%;
}
.pizza .ketchups .ketchup-3 {
  top: 75%;
  left: 50%;
}/*# sourceMappingURL=style.css.map */